{% if 'SWITCHPORT' in host.facts %}
{% set interfaces = host.facts.SWITCHPORT.interfaces %}
{% for key in interfaces %}
interface {{ key }}
{% if interfaces[key]['switchport'] == 'disabled' %}}
no switchport
{% else %}}
ip address {{ john[key]['ipaddr'] }}
description {{ john[key]['description'] }}
{% endif %}
{% endfor %}
{% endif %}